<%- if user_signed_in? -%>
  <%- if current_user = @character.user -%>
    <ul class="breadcrumbs" >
      <li><%= link_to 'Characters', characters_path %></li>
      <li><%= link_to @character.name, character_path(@character) %></li>
      <li class="current"><%= link_to 'Update Character', new_character_trait_path(@character) %></li>
    </ul>
    <h2><%= @character.name %></h2>
    <p>Available Points: <%= @character.available_points %></p>
    <%- unless @character.traits == [] -%>
      <table>
        <thead>
          <tr>
            <th>Trait</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <%- @character.traits.each do |trait| -%>
        <tr>
          <td><%= trait.game_trait.name %></td>
          <td><%= trait.purchases %></td>
        </tr>
        <%- end -%>
        </tbody>
      </table>
    <%- end -%>

    <%= simple_form_for [@character, @trait] do |f| %>
      <%= f.association :game_trait, collection: @traits_collection %>
      <%= f.input :purchases %>
      <%= f.button :submit, 'Update Character', class: "button small" %>
    <% end %>
  <%- end -%>
<%- end -%>

