<%- if user_signed_in? -%>
  <%- if current_user == @game.user -%>
    <ul class="breadcrumbs">
      <li><%= link_to 'Games', games_path %></li>
      <li><%= link_to @game.name, game_path(@game) %></li>
      <li class="current"><%= link_to 'Configure Traits', new_game_game_trait_path(@game) %></li>
    </ul>
    <h2><i class="fi-folder"></i> <%= @game.name %></h2>
    <p>Starting Points: <%= @game.starting_points %></p>
    <%- unless @game_traits == [] -%>
      <table width=100%>
        <thead>
          <tr>
            <th>Trait</th>
            <th>Max Purchases</th>
            <th>Downtime</th>
            <th>Cost</th>
            <th>Prerequisite(s)</th>
          </tr>
        </thead>
        <tbody>
        <%- @game_traits.each do |trait| -%>
        <tr>
          <td><%= link_to trait.name, game_game_trait_path(@game, trait) %></td>
          <td><%= trait.max_purchases unless trait.max_purchases == nil%></td>
          <td>
            <%- if trait.bgs -%>
              Yes
            <%- else -%>
              No
            <%- end -%>
          </td>
          <td><%= trait.point_cost %></td>
          <td>
            <%- unless trait.parent_traits == nil -%>
              <%- trait.parent_traits.each do |parent| -%>
                <%= parent.name %>&nbsp;<%= link_to(game_game_trait_dependency_path(@game, GameTraitDependency.find_by(parent_trait_id: parent.id, child_trait_id: trait.id)), action: "destroy", method: :delete, data: { confirm: "Are you sure?" }) do %><i class="fi-x"> </i><% end %>&nbsp;
              <%- end -%>
            <%- end -%>
          </td>
        </tr>
        <%- end -%>
        </tbody>
      </table>
    <%- end -%>

    <%= simple_form_for [@game, @game_trait] do |f| %>
      <%= f.input :name, label: "Trait Name", required: true %>
      <%= f.input :max_purchases %>
      <%= f.input :bgs, label: "Downtime Trait?" %>
      <%= f.input :point_cost, required: true %>
      <%= f.button :submit, "Add Trait", class: "button small" %>
    <% end %>

    <div class="panel">
      <h4><i class="fi-lightbulb"></i> What's 'downtime'?</h4>
      <p>Marking a trait "downtime" won't have any effect for now, but in a future release it will be used to designate traits that are used to generate between-games responses, for those actions that characters utilize when they are "offstage".</p>
    </div>
  <%- end -%>
<%- end -%>
