<%- if user_signed_in? -%>
  <h3>Create NPC</h3>

  <%= simple_form_for @character do |f| %>
    <%= f.input :name, label: "Carol" %>
    <%= f.association :game, collection: @games %>
    <%= f.button :submit, "Create NPC" %>
  <% end %>

  <h3>Create Player Character</h3>

  <%= simple_form_for @character do |f| %>
    <%= f.input :name %>
    <%= f.association :player, collection: @player_games, label: 'Game' %>
    <%= f.button :submit, "Create Player Character" %>
  <% end %>
<%- end -%>

