<%- if user_signed_in? -%>
  <h2><%= @character.name %></h2>
  <p>Available Points: <%= @character.available_points %></p>
  <%- unless @character.traits == [] -%>
    <table>
      <thead>
        <tr>
          <th>Trait</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%- @character.traits.each do |trait| -%>
      <tr>
        <td><%= trait.game_trait.name %></td>
        <td><%= trait.purchases %></td>
      </tr>
      <%- end -%>
      </tbody>
    </table>
  <%- end -%>

  <%- if current_user = @character.user -%>
    <%= button_to 'Update Character', new_character_trait_path(@character), method: :get, class: 'button' %>
  <%- end -%>

<%- end -%>

