<%- if user_signed_in? -%>
  <h2><%= @character.name %></h2>
  <p>Available Points: <%= @character.available_points %></p>

  <%= simple_form_for [@character, @trait] do |f| %>
    <%= f.association :game_trait %>
    <%= f.input :purchases %>
    <%= f.button :submit, 'Update Character' %>
  <% end %>
<%- end -%>

