<%- if user_signed_in? -%>
  <h2><%= @character.name %></h2>
  <p>Available Points: <%= @character.available_points %></p>

  <table>
    <thead>
      <tr>
        <th>Trait</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%- @character.traits.each do |trait| -%>
    <tr>
      <td><%= trait.game_trait.name %></td>
      <td><%= trait.purchases %></td>
    </tr>
    <%- end -%>
    </tbody>
  </table>

  <%= simple_form_for [@character, @trait] do |f| %>
    <%= f.association :game_trait, collection: @traits_collection %>
    <%= f.input :purchases %>
    <%= f.button :submit, 'Update Character' %>
  <% end %>
<%- end -%>

