<%- if user_signed_in? -%>
  <h2><%= @character.name %></h2>
  <%- unless Character.find(params[:id]).game.user == current_user %>
    <%- unless @character.player == nil -%>
      <p>My Available Points: <%= @character.player.points%></p>
    <%- end -%>
    <p><%= @character.name %>'s Available Points: <%= @character.available_points %></p>

    <%- unless @character.player == nil -%>
      <div>
        <%= form_tag(character_path(@character), method: :patch, action: :update) do %>
          <%= label_tag(:available_points, "Points:") %>
          <%= text_field_tag(:available_points) %>
          <%= submit_tag "Transfer Points", class: "button" %>
        <% end %>
      </div>
    <%- end -%>
  <%- else -%>
    <p><%= @character.player.user.email %></p>
  <%- end -%>

  <%- unless @character.traits == [] -%>
    <table>
      <thead>
        <tr>
          <th>Trait</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%- @character.traits.each do |trait| -%>
      <tr>
        <td><%= trait.game_trait.name %></td>
        <td><%= trait.purchases %></td>
      </tr>
      <%- end -%>
      </tbody>
    </table>
  <%- end -%>

  <%- if @character.user == current_user -%>
    <%= button_to 'Update Character', new_character_trait_path(@character), method: :get, class: 'button' %>
  <%- end -%>

<%- end -%>

