<%- if user_signed_in? -%>
  <%- if current_user == @character.user -%>
    <ul class="breadcrumbs" >
      <li><%= link_to 'Characters', characters_path %></li>
      <li class="current"><%= link_to @character.name, character_path(@character) %></li>
    </ul>
  <%- elsif current_user == @character.game.user -%>
    <ul class="breadcrumbs">
        <li><%= link_to 'Games', games_path %></li>
        <li><%= link_to @character.game.name, game_path(@character.game) %></li>
        <li><%= link_to 'Manage Players', game_players_path(@character.game) %></li>
        <li><%= link_to @character.user.email, game_player_path(@character.game, @character.player) %></li>
        <li class="current"><%= link_to @character.name, character_path(@character) %></li>
    </ul>
  <%- end -%>

  <h2><%= @character.name %></h2>
  <%- unless Character.find(params[:id]).game.user == current_user %>
    <%- unless @character.player == nil -%>
      <p>My Available Points: <%= @character.player.points%></p>
    <%- end -%>
    <p><%= @character.name %>'s Available Points: <%= @character.available_points %></p>

    <%- unless @character.player == nil -%>
      <div>
        <%= form_tag(character_path(@character), method: :patch, action: :update) do %>
          <%= label_tag(:available_points, "Points:") %>
          <%= text_field_tag(:available_points) %>
          <%= submit_tag "Transfer Points", class: "button small" %>
        <% end %>
      </div>
    <%- end -%>
  <%- else -%>
    <p><%= @character.player.user.email unless @character.player == nil %></p>
  <%- end -%>

  <%- unless @character.traits == [] -%>
    <table>
      <thead>
        <tr>
          <th>Trait</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%- @character.traits.each do |trait| -%>
      <tr>
        <td><%= trait.game_trait.name %></td>
        <td><%= trait.purchases %></td>
      </tr>
      <%- end -%>
      </tbody>
    </table>
  <%- end -%>

  <%- if @character.user == current_user -%>
    <%= button_to 'Update Character', new_character_trait_path(@character), method: :get, class: 'button small' %>
  <%- end -%>

<%- end -%>

