<%- if user_signed_in? -%>
  <%- if current_user == @game.user -%>
    <ul class="breadcrumbs">
      <li><%= link_to 'Games', games_path %></li>
      <li><%= link_to @game.name, game_path(@game) %></li>
      <li class="current"><%= link_to 'Manage Players', game_players_path(@game) %></li>
    </ul>

    <%- unless @players == nil %>
      <h3><%= @game.name %> Players:</h3>
      <table width=100%>
        <tbody>
          <% @players.each do |player| %>
            <tr><td><%= link_to player.user.email, game_player_path(@game, player) %></td><tr>
          <% end %>
        </tbody>
      </table>
    <%- end -%>

    <%= form_tag(new_game_player_path(@game), method: "get") do %>
      <%= label_tag(:email, "Email:") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag "Add Player", class: "button" %>
    <% end %>

  <%- end -%>
<%- end -%>
