<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Living LARP" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "modernizr.custom.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="st-container" class="st-container">

      <nav class="st-menu st-effect-1" id="menu-1">
        <ul>
          <li><label>User</label></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
          <li><label>Characters</label></li>
          <li><%= link_to 'Your Characters', characters_path %></li>
          <li><%= link_to 'Add New', new_character_path %></li>
          <li><label>Games</label></li>
          <li><%= link_to 'Your Games', games_path %></li>
          <li><%= link_to 'Add New', new_game_path %></li>
          <li><label>Site</label></li>
          <li><%= link_to 'Contact Us', contact_us_path %></li>
        </ul>
      </nav>

      <div class="st-content"><!-- this is the wrapper for the content -->

        <div class="row">
          <div class="small-12 columns">
            <h1><%= link_to 'Living LARP', root_path %> <span class="tiny">pre-alpha</span></h1>
          </div>
        </div>

        <%- if user_signed_in? -%>

          <div class="row">
            <div class="small-12 columns">

              <div class="off-canvas-wrap">
                <div class="inner-wrap">
                  <nav class="tab-bar">
                    <section class="left-small">
                      <div id="st-trigger-effects" class="column">
                        <button data-effect="st-effect-1" class="button small" ></button>
                    </div>
                    </section>

                    <section class="middle tab-bar-section">
                      <p class="usertag"><%= current_user.email %></p>
                    </section>
                  </nav>

                  <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                      <li class="janet">User</li>
                      <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
                      <h2>Characters</h2>
                      <li><%= link_to 'Your Characters', characters_path %></li>
                      <li><%= link_to 'Add New', new_character_path %></li>
                      <h2>Games</h2>
                      <li><%= link_to 'Your Games', games_path %></li>
                      <li><%= link_to 'Add New', new_game_path %></li>
                      <h2>Site</h2>
                      <li><%= link_to 'Contact Us', contact_us_path %></li>
                    </ul>
                  </aside>

                  <div class="small-11 small-centered columns" >
                    <section class="main-section">
                      <% flash.each do |name, msg| %>
                        <% if msg.is_a?(String) %>
                          <div data-alert class="alert-box <%=
                            if name == :success
                              "success"
                            elsif name == :alert
                              "alert"
                            else
                               nil
                            end %>">
                            <%= content_tag :div, msg %>
                            <a href="#" class="close">&times;</a>
                          </div>
                        <% end %>
                      <% end %>
                      <%= yield %>
                    </section>
                  </div>

                  <a class="exit-off-canvas"></a>
                </div>
              </div>

            </div>
          </div>

        <%- else -%>
        <div class="row">
          <div class="small-12 columns">
            <% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
                <div data-alert class="alert-box <%=
                  if name == :success
                    "success"
                  elsif name == :alert
                    "alert"
                  else
                     nil
                  end %>">
                  <%= content_tag :div, msg %>
                  <a href="#" class="close">&times;</a>
                </div>
              <% end %>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <%- end -%>

        <div class="row">
          <div class="small-4 small-centered columns">
            <p>Living LARP is &copy; <%= DateTime.now.year %> Eben Lowe</p>
          </div>
        </div>

      </div><!-- /st-content -->

    </div><!-- /st-container -->

    <%= javascript_include_tag "application" %>
  </body>
</html>
