<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Living LARP" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="small-9 small-offset-3 columns">
        <h1><%= link_to 'Living LARP', root_path %> <span class="tiny">pre-alpha</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <nav>
          <ul>
            <%- if user_signed_in? -%>
              <p class="round secondary label"><%= current_user.email %></p>
              <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
                <ul>
                  <li><%= link_to 'Your Games', games_path %></li>
                  <li><%= link_to 'Add New Game', new_game_path %></li>
                </ul>
                <ul>
                  <li><%= link_to 'Your Characters', characters_path %></li>
                  <li><%= link_to 'Add New Character', new_character_path %></li>
                </ul>
            <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <%- end -%>
            <li><%= link_to 'Contact Us', contact_us_path %></li>
          </ul>
        </nav>
      </div>
      <div class="small-9 columns">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="small-8 small-offset-4 columns"><p>Living LARP is &copy; <%= DateTime.now.year %> Eben Lowe</p></div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
