<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Living LARP" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="small-9 small-offset-3 columns">
        <h1><%= link_to 'Living LARP', root_path %> <span class="tiny">pre-alpha</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <nav class="side-nav">
          <%- if user_signed_in? -%>
            <div class="panel round">
              <p class="usertag"><%= current_user.email %></p>
            </div>
            <%= button_to 'Sign Out', destroy_user_session_path, class: "button expand", method: :get %>

            <a href="#" data-dropdown="games" class="button expand">Games</a><br>
            <ul id="games" data-dropdown-content class="f-dropdown">
              <li><%= link_to 'Your Games', games_path %></li>
              <li><%= link_to 'Add New', new_game_path %></li>
            </ul>

            <a href="#" data-dropdown="characters" class="button expand">Characters</a><br>
            <ul id="characters" data-dropdown-content class="f-dropdown">
              <li><%= link_to 'Your Characters', characters_path %></li>
              <li><%= link_to 'Add New', new_character_path %></li>
            </ul>

          <%- else -%>
            <%= button_to 'Sign Up', new_user_registration_path, class: "button expand", method: :get, id: "sign_up_menu" %>
            <%= button_to 'Sign In', new_user_session_path, class: "button expand", method: :get, id: "sign_in_menu" %>
          <%- end -%>
          <%= button_to 'Contact Us', contact_us_path, class: "button expand", method: :get %>
        </nav>
      </div>
      <div class="small-9 columns">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div data-alert class="alert-box <%=
              if name == :success
                "success"
              elsif name == :alert
                "alert"
              else
                 nil
              end %>">
              <%= content_tag :div, msg %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="small-8 small-offset-4 columns"><p>Living LARP is &copy; <%= DateTime.now.year %> Eben Lowe</p></div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
